<!DOCTYPE HTML>
<!--
	Momentum by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
		<style>
			.container {
				position: relative;
			}

			iframe {
				margin-left:10%;
				width:1600px;
				height:700px; /* 변경된 높이 */
		}


		</style>
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header" class="alt">

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="index.html">홈으로</a></li>
					<li><a href="generic.html">주요뉴스</a></li>
				</ul>
			</nav>

			<!-- Logo -->
			<a class="logo" href="index.html"></a>
			<h1>{{query}} 검색 결과</h1>
		</header>

		<!-- Main -->
		<div id="main">
			<div class="container">
				<iframe src="{{ url_for('static', filename='stock_graph/' + query + '_test_result.html')}}" frameborder="0"></iframe>
				<div class="inner" style="margin-top:50px;">
					{% if data %}
					<table>
						<thead>
							<tr>
								<th>날짜</th>
								<th>실제 종가</th>
								<th>예측 종가</th>
							</tr>
						</thead>
						<tbody>
							{% for item in data %}
							<tr>
								<td>{{ item[0] }}</td>
								<td>{{ item[1] }}</td>
								<td>{{ item[2] }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
					<p>검색 결과가 없습니다.</p>
					{% endif %}
				</div>
			</div>
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

	</body>
</html>
