<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
</head>
<body>
    <h1 style="text-align:center; margin-top:2rem;">카카오 관련 뉴스</h1>
    <div class="table-wrapper">
        <table class="alt" style="margin-left: 2.5rem; width:95%;">
          <thead>
            <tr>
                <th>제목</th>
                <th>게시일</th>
                <th>출처</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://finance.naver.com/item/news_read.naver?article_id=0003297226&office_id=032&code=035720&page=1&sm=" target="_blank">일주일 만에 또···카카오톡 6분간 ‘먹통’</a></td>
                <td>2024.05.20 17:30</td>
                <td>경향신문</td>
            </tr>
            <tr>
                <td><a href="https://finance.naver.com/item/news_read.naver?article_id=0002874714&office_id=029&code=035720&page=1&sm=" target="_blank">방심위 "비방·허위사실 유포 게시글 증가…주의 필요해"</a></td>
                <td>2024.05.20 17:20</td>
                <td>디지털타임스</td>
            </tr>
            <tr>
                <td><a href="https://finance.naver.com/item/news_read.naver?article_id=0005744166&office_id=018&code=035720&page=1&sm=" target="_blank">인터넷 비방글 어떻게?…방심위 ‘이용자 정보 청구’ 안내</a></td>
                <td>2024.05.20 17:03</td>
                <td>이데일리</td>
            </tr>
            <tr>
                <td><a href="https://finance.naver.com/item/news_read.naver?article_id=0005040114&office_id=008&code=035720&page=1&sm=" target="_blank">"여기 XX 사건 있는 병원이에요" 후기 썼다가 '명예훼손'</a></td>
                <td>2024.05.20 16:35</td>
                <td>머니투데이</td>
            </tr>
            <tr>
                <td><a href="https://finance.naver.com/item/news_read.naver?article_id=0000993544&office_id=366&code=035720&page=1&sm=" target="_blank">방심위, 지난해 모욕·허위 후기 관련 정보제공 청구 548건… 전년比...</a></td>
                <td>2024.05.20 14:24</td>
                <td>조선비즈</td>
            </tr>
        </table>
    </div>
    	<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</body>
</html>
