<!DOCTYPE HTML>
<!--
	Momentum by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
		<style>
			.container {
				position: relative;
			}

			iframe {
				margin-top: 3%;
				margin-left:10%;
				width:1600px;
				height:700px; /* 변경된 높이 */
		}
		.datetime {
			position: absolute;
			top: 80%;
			right: 20px;
			font-size: 1.2rem;
			color: #fff;
	}

		</style>
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header" class="alt" style="padding-bottom: 0; padding-top: 20px; height: 15em;">

			<!-- Nav -->
			<nav id="nav" style="height: 1rem;">
				<ul>
					<li class="current"><a href="index.html">홈으로</a></li>
				</ul>
				<div class="datetime" id="current-datetime"></div>
			</nav>

			<!-- Logo -->
			<h1 style="margin-bottom:4rem;">{{query}} 검색 결과</h1>
		</header>

		<!-- Main -->
		<div id="main">
			<div class="container">
				<iframe src="{{ url_for('static', filename='stock_graph/' + query + '_test_result.html')}}" frameborder="0"></iframe>
				<div class="inner" style="margin-top:50px;">
					{% if data %}
					<table>
						<thead>
							<tr>
								<th>날짜</th>
								<th>실제 종가</th>
								<th>예측 종가</th>
							</tr>
						</thead>
						<tbody>
							{% for item in data %}
							<tr>
								<td>{{ item[0] }}</td>
								<td>{{ item[1] }}</td>
								<td>{{ item[2] }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
					<p>검색 결과가 없습니다.</p>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- Scripts -->
		<script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/browser.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/util.js')}}"></script>
		<script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
			$(document).ready(function() {
				function updateDateTime() {
						var now = new Date();
						var options = { weekday: 'short', year: 'numeric', month: 'numeric', day: 'numeric' };
						var dateString = now.toLocaleDateString('ko-KR', options);
						var timeOptions = { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
						var timeString = now.toLocaleTimeString('ko-KR', timeOptions);
						document.getElementById('current-datetime').innerHTML = dateString + " " + timeString;
				}

				setInterval(updateDateTime, 1000);
				updateDateTime();
		});
			</script>
	</body>
</html>
